.ventana{
    background:rgba(0,0,102,1);
    width: 50%;
    color:rgba(255,255,255,1);
    font-size: 18px;
    text-align:center;
    padding:33px;
    min-height:250px;
    border-radius: 22px;
    position: absolute;
    left: 25%;
    top:25%;
    display:none;
}

.salir{
cursor: pointer;
position: absolute;
top: 1rem;
left:2rem;
}


.opcion{
    text-decoration: none;
    color: var(--bs-body-color);
    cursor: pointer;
    background-color: #07148a;
    border-radius: 8px;
    color: #ffff;
}
.opcion:hover{
    color: red;
}

textarea {
    resize: none;
  }